<%- include('../partials/mainpage/headers') %>

        <!-- Header Start -->
        <div class="container-fluid bg-breadcrumb">
            <div class="container text-center py-5" style="max-width: 900px;">
                <h3 class="text-white display-3 mb-4">About</h1>
                <ol class="breadcrumb justify-content-center mb-0">
                    <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                    <li class="breadcrumb-item"><a href="#">Pages</a></li>
                    <li class="breadcrumb-item active text-white">About</li>
                </ol>    
            </div>
        </div>
        <!-- Header End -->

        <!-- About Start -->
        <div class="container-fluid about py-5">
            <div class="container py-5">
                <div class="row g-5 align-items-center">
                    <div class="col-lg-5">
                        <div class="h-100" style="border: 50px solid; border-color: transparent #13357B transparent #13357B;">
                            <img src="mainpage/img/sec2/sopai2.jpg" class="img-fluid w-100 h-100" alt="">
                        </div>
                    </div>
                    <div class="col-lg-7" style="background: linear-gradient(rgba(255, 255, 255, .8), rgba(255, 255, 255, .8)), url(img/about-img-1.png);">
                        <h5 class="section-about-title pe-3">About Our Destination</h5>
                        <h1 class="mb-4">Welcome to <span class="text-primary">Buntu Sopai</span></h1>
                        <p class="mb-4">Buntu Sopai Toraja merupakan salah satu wisata alam yang terletak di Gunung Sopai. Pemandangan eksotis di puncak Gunung Sopai ini sering disebut sebagai ‘Negeri di Atas Awan’. Sangat direkomendasikan untuk datang ke wisata alam ini pada pagi hari untuk menikmati keindahan gumpalan awan yang membentuk bak sebuah negeri dongeng.</p>
                        <p class="mb-4">Buntu Sopai terkenal dengan panorama keindahan alamnya yang menawan. Wisata alam ini menjadi destinasi favorit ketika berkunjung ke Ibu Kota Tana Toraja. Banyak wisatawan yang datang untuk menikmati keindahan pemandangan di atas puncak Gunung Sopai. Pemandangan di atas ketinggian 1400 mdpl ini menjadi salah satu daya tarik bagi para pengunjung.</p>
                        
                        <a class="btn btn-primary rounded-pill py-3 px-5 mt-2" href="">Read More</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- About End -->

        <!-- Contact Start -->
        <div class="container-fluid contact bg-light py-5">
            <div class="container py-5">
                <div class="mx-auto text-center mb-5" style="max-width: 900px;">
                    <h5 class="section-title px-3">Our Information</h5>
                </div>
                <div class="row g-5 align-items-center">
                    <div class="col-lg-4">
                        <div class="bg-white rounded p-4">
                            <div class="text-center mb-4">
                                <i class="fa fa-map-marker-alt fa-3x text-primary"></i>
                                <h4 class="text-primary"><Address></Address></h4>
                                <p class="mb-0">Marante, Kec. Sopai, Kabupaten Toraja Utara, Sulawesi Selatan</p>
                            </div>
                            <div class="text-center mb-4">
                                <i class="fa fa-money-bill fa-3x text-primary mb-3"></i>
                                <h4 class="text-primary">Price</h4>
                                <p class="mb-0">IDR 50000</p>
                            </div>
                           
                            <div class="text-center">
                                <i class="fa fa-envelope-open fa-3x text-primary mb-3"></i>
                                <h4 class="text-primary">Email</h4>
                                <p class="mb-0">buntusopai@gmail.com</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-8">
                        <div class="bg-white rounded p-4">
                             <img src="mainpage/img/sopai/sopaicover1.jpg" class="img-fluid" alt="Image">
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="rounded">
                            <iframe class="rounded w-100" 
                            style="height: 450px;" src="https://maps.google.com/maps?q=buntu+sopai&t=&z=13&ie=UTF8&iwloc=&output=embed" 
                            loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Contact End -->

        <!-- Subscribe Start -->
        <div class="container-fluid subscribe py-5">
            <div class="container text-center py-5">
                <div class="mx-auto text-center" style="max-width: 900px;">
                    <h5 class="subscribe-title px-3">Subscribe</h5>
                    <h1 class="text-white mb-4">Our Newsletter</h1>
                    <p class="text-white mb-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum tempore nam, architecto doloremque velit explicabo? Voluptate sunt eveniet fuga eligendi! Expedita laudantium fugiat corrupti eum cum repellat a laborum quasi.
                    </p>
                    <div class="position-relative mx-auto">
                        <input class="form-control border-primary rounded-pill w-100 py-3 ps-4 pe-5" type="text" placeholder="Your email">
                        <button type="button" class="btn btn-primary rounded-pill position-absolute top-0 end-0 py-2 px-4 mt-2 me-2">Subscribe</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Subscribe End -->
<%- include('../partials/mainpage/footers') %>